$mobile: 57.6rem;
$tablet: 76.8rem;
$desktop: 100rem;

$desktopFull: 1920px;
$desktopL: 1800px;
$desktopM: 1680px;
$desktopS: 1440px;

$tabletLL: 1180px;
$tabletL: 1024px;
$tabletM: 960px;
$tabletS: 768px;

$mobileLL: 600px;
$mobileL: 425px;
$mobileM: 375px;