@font-face {
  font-family: "Mona Sans";
  src: url("~/assets/common/fonts/Mona_Sans/Mona-Sans.ttf") format("truetype");
}

@font-face {
  font-family: "Mona Sans BoldWide";
  src: url("~/assets/common/fonts/Mona_Sans/TTF/Mona-Sans-BoldWide.ttf");
}

@font-face {
  font-family: "Mona Sans UltraWide";
  src: url("~/assets/common/fonts/Mona_Sans/TTF/Mona-Sans-UltraLightWide.ttf");
}
